.posts-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: left;
}

.square {
    width: 25%;
}

html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.posts-container h1{
  
    display: flex;
    font-size: 4em;
}