
body{
    color: #202025;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    flex: 0.2;
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 0.08);
    padding: 2em 1em;
    border-right: 2px solid #E0E0E0;
    height: 100vh; 
    
    width: 250px;
    
}

.navbar .logo {
    font-size: 1.6em;
    margin-bottom: 5em;
    margin-top: 1em; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image{
    width: 40px;
    height: 40px;
    margin-right: 25px;
}

.nav-items {
  
    display: flex;
    flex-direction: column;
    
}

.navButton {
    display: block;
    padding: 10px;
    text-decoration: none; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: inherit; 
    border: none; 
    background: transparent;
    text-align: center; 
    width: 100%; 
    box-sizing: border-box; 
    font-size: 1.45em; 
    outline: none; 
    margin-bottom: 2em; 
    overflow-y: hidden;
}

/* .navButton:hover {
    background-color: #E0E0E0;
} */

.logout-section {
    
    margin-top: auto;   
}


.navButton.active {
    position: relative;
}

.navButton.active:after {
    content: '';
    position: absolute;
    width: 3px;
    height: calc(1em + 20px);  
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #202025; 
}
