.card {
    width: fit-content;
    flex: 0.33;
    margin: 2px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    max-height: 300px;
}

.card-body:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.card-title, .card-text {
    text-align: center;
    width: fit-content;
}