.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width: 100%;
    margin: 1px;
    flex: 1;
}

.card-body:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

h2, p {
    text-align: center;
}