.profile-contain {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  font-size: 22px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  margin-right: 30px;
}

.profile-inContainer {
  display: flex;
  flex-direction: column;

}

.listsContainer {
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
}

.followersList,
.followingList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.follower-item,
.following-item {
  margin: 5px;
  text-align: center;
}

.full-containr {
  display: flex;
  justify-content: space-between;
}

.post-section {
  /* background-color: aqua; */
  margin-right: 30px;
  width: 40%;
}

.post-heading {
  /* border-bottom: 2px solid #ccc; */
}